<style>

.sl-black {
    outline: 0.5px solid rgb(234, 238, 201);
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 15px 0px #000000;
    box-shadow: 5px 5px 15px 0px #000000;
  }


  .sl-light-blue {
    outline: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 15px 0px #554afa;
    box-shadow: 5px 5px 15px 0px #554afa;
  }

  .sl-green {
    outline: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 15px 0px #28a745;
    box-shadow: 5px 5px 15px 0px #28a745;
  }

  .sl-light-green {
    border-radius: 5px 5px 5px 5px;
    outline: 0.5px solid black;
    -webkit-box-shadow: 5px 5px 15px 0px #71d388;
    box-shadow: 5px 5px 15px 0px #71d388;
  }

  .sl-dark-green {
    border-radius: 5px 5px 5px 5px;
    outline: 0.5px solid black;
    -webkit-box-shadow: 5px 5px 15px 0px #165c26;
    box-shadow: 5px 5px 15px 0px #165c26    ;
  }

  .sl-purple {
    border-radius: 5px 5px 5px 5px;
    outline: 0.5px solid black;
    -webkit-box-shadow: 5px 5px 15px 0px #9c07ff;
    box-shadow: 5px 5px 15px 0px #9c07ff;
  }

  .sl-red {
    outline: 0.5px solid black;
    border-radius: 5px 5px 5px 5px;
    -webkit-box-shadow: 5px 5px 15px 0px #dc3545;
    box-shadow: 5px 5px 15px 0px #dc3545;
  }

  .sl-yellow {
    border-radius: 5px 5px 5px 5px;
    outline: 0.5px solid black;
    -webkit-box-shadow: 5px 5px 15px 0px #ffc107;
    box-shadow: 5px 5px 15px 0px #ffc107;
  }


  .center {
    text-align: center;
  }

  .img {
    padding: 5px;

  }

  .short-text {
    display: block;
    float: right;
    outline: 1px red solid;
  }

  .button {
    width: 150px;
    display: flex;
    align-items: center;

  }
</style>

<div class="row">
  <div class="container my-2 py-3 px-3">
          <div class="row"></div>
          <div class="col-sm-8 col-md-4"></div>

          <div style="max-width: 640px;max-height:300px;">
            <% current_page.data.recipes.each do |r| %>
              <div class="row no-gutters sl-<%= r.recipe.color %> my-3 py-3">
                <div class="col-md-4">
                  <%= image_tag r.recipe.img_path, class:"card-image-top rounded",alt: r.recipe.img_alt,
                    style:"width:250px;height:250px;align-items:center;" %>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= r.recipe.page_title %>
                    </h5>
                    <p class="card-text">
                      <%= r.recipe.short_desc %>
                    </p>
                    <div class="text-muted">
                      <p class="card-text">Cooking Difficulty: <%= r.recipe.difficulty %>
                      </p>
                      <p class="card-text">Time to cook: <%= r.recipe.cooking_time_minutes %> Mins</p>
                    </div>
                  </div>
                  <%= link_to "Check it out" , r.recipe.button_path, class:"btn btn-outline-success align-self-center" %>
                </div>
                  
              </div>
            <% end %>
          </div>
  </div>
</div>
