<style>
table {
  align: center;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 40px;
}
</style>
<div class="container-fluid my-2 py-2">
  <div class="row">
    <div class="col-sm-4 col-md-2"></div>
      <div class="col-sm-8 col-lg-8 my-2 py-2">
        <%= current_page.data.page_title %>
        <div class="card mt-4" style="width: auto;box-shadow:5px 5px 5px 5px #6c6c6c;">
          <div class="left">
            <%= image_tag current_page.data.img_path , class:'card-image-top rounded', alt: current_page.data.img_alt, style:'width:250px;height:250px;align-items:center;' %>
          </div>
          <div class="right">
            <p class="card-text" style="color:#6c6c6c;font-style:italic;">Difficulty: <%= current_page.data.dificulty %></p>
                <h5 class="card-title" style="text-transform:Capitalize;">Recipe Source: <%= current_page.data.recipe_source || 'ORIGINAL RECIPAAAY'  %></h5>
              <div class="card-body text-center">
                <h5 class="card-title" style="text-transform:Capitalize;"><%= current_page.data.recipe_name %></h5>
                <div>
                  <p class="card-text justify">
                  <hr>
                  <center>
                      <table class="ingredients-table">
                      <th>Ingredients</th>
                      <th>Qty.</th>
                      <% current_page.data.ingredients.each do| ingredient | %>
                        <tr>
                          <td><%= ingredient[0] %></td>
                          <td><%= ingredient[1] %></td>
                        </tr>
                        <%end %>
                    </table>
                    </p>
                  </div>
                </center>
                <hr>
                <p class="card-text">
                <ol>
                  <% current_page.data.instructions.each do | step | %>
                    <li style='text-align: left;'><%= step %></li>
                  <% end %>
                  </ol>
                </p>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="row"><br></div>
</div>
